.container-primary {
  width: 100%;
}
.Container-formulario {
  margin: 0px;
  padding: 0px;
  width: 350px;
}
.Container-titulo {
  width: 300px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.Container-titulo h4 {
  padding: 10px;
}

.Formulario {
  border-radius: 15px;
  border: 1px solid;
  border-color: rgb(192, 192, 192);
  margin-right: 15px;
  width: 300px;
}
.btn {
  text-align: center;
  margin-right: 5px;
}

.container-table {
  width: 60%;
}
